<div id="main">
    <div class="titleline">权限管理</div>
    <el-card class="box-card">
        <!-- 查询栏 -->
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="角色名称" size="mini">
                <el-input  v-model="formInline.nickname" placeholder="角色名称"></el-input>
            </el-form-item>
            <el-form-item size="mini">
                <el-button type="primary" @click="doQuery" plain>查询</el-button>
            </el-form-item>
        </el-form>

        <!-- 按钮栏 -->
        <el-row>
            <el-button size="mini" type="primary" @click="openAdd">添加</el-button>
        </el-row>

        <!-- 表格栏 -->
        <el-table :data="tableData.list" size="mini" style="margin-top:20px" max-height="300" stripe header-cell-class-name="tableheader">
            <el-table-column prop="id" label="角色编号"></el-table-column>
            <el-table-column prop="name" label="角色名称"></el-table-column>
            <el-table-column prop="remarks" label="角色备注"></el-table-column>
            <el-table-column prop="createdBy" label="创建用户" :formatter="getCreater"></el-table-column>
            <el-table-column prop="createdAt" label="创建时间"></el-table-column>
            <el-table-column prop="updatedBy" label="更新用户" :formatter="getUpdater"></el-table-column>
            <el-table-column prop="updatedAt" label="更新时间"></el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button @click="openEdit(scope.row)" type="text" size="small">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!-- 翻页 -->
        <el-pagination small background hide-on-single-page style="margin-top: 10;" @current-change="handleCurrentChange" layout="prev, pager, next, jumper" :total="tableData.totalCount"></el-pagination>
    </el-card>
    <!-- 详情弹出框（新增/修改） -->
    <el-drawer :title="infoData.row.edit?'角色修改':'角色新增'" :visible.sync="drawer" ref="drawer">
        <el-form ref="form" :model="infoData.row" label-width="80px" style="margin:20">
            <el-form-item label="角色编号">
                <el-input placeholder="请输入角色编号" v-model="infoData.row.id" :readonly="infoData.row.edit"></el-input>
            </el-form-item>
            <el-form-item label="角色名称">
                <el-input placeholder="请输入角色名称" v-model="infoData.row.name"></el-input>
            </el-form-item>
            <el-form-item label="角色备注">
                <el-input placeholder="请输入角色备注" v-model="infoData.row.remarks"></el-input>
            </el-form-item>
            <el-form-item label="菜单权限">
                <el-tree :data="infoData.menuList" :props="infoData.props" show-checkbox ref="tree" node-key="id" accordion></el-tree>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="onSubmit">保存</el-button>
            </el-form-item>
        </el-form>
    </el-drawer>

</div>
<style>
    .el-table {
        max-height: calc(100% - 200px) !important;
    }
    .el-table__body-wrapper {
        max-height: calc(100% - 236px) !important;
    }
</style>
<script src="main/system/system/role/role.js"></script>