<div id="menu">
  <div class="menuline">
    <el-menu default-active="2" class="el-menu-vertical-demo menugroup" text-color="#9e9e9e" @select="handleSelect" :collapse="isCollapse" :unique-opened="true" >
      <el-button :icon="isCollapse?'el-icon-plus':'el-icon-minus'" circle class="menuButton" @click="changeCollapse" plain  type="primary"></el-button>
      <el-submenu v-for="(menu,index) in menuData.menuList" :index="menu.odindex">
        <template slot="title">
          <i :class="menu.icon"></i>
          <span>{{menu.text}}</span>
        </template>
        <el-submenu v-for="(smenu,sindex) in menu.children" :index="smenu.odindex">
          <template slot="title">
            <i class="el-icon-folder"></i>
            <span>{{smenu.text}}</span></template>
          <el-menu-item v-for="(cmenu,cindex) in smenu.children" :index="cmenu.url">
            <i class="el-icon-document"></i>
            <span>{{cmenu.text}}</span></el-menu-item>
        </el-submenu>
      </el-submenu>

    </el-menu>
  </div>
</div>
<style>

  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    height: 100%;
  }
</style>
<script>
  var menuVue = new Vue({
    el: '#menu',
    data: {
      isCollapse: false,
      menuData: {
        menuList: []
      }
    },
    created: function () {
      this.loadMenu();
    },
    methods: {
      loadMenu: function () {
        let _this = this
        sendRequest("/oms/getMenu", null, function (jsonData) {
          _this.menuData.menuList = jsonData.data

        });
      },
      handleSelect(key, keyPath) {
        $("#mainLoader").load("main" + key)
      },

      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
      changeCollapse() {
        this.isCollapse = !this.isCollapse
        $("#mainLoader").css("width",this.isCollapse?(window.innerWidth-64)+"px":(window.innerWidth-200)+"px")
      }
    }
  })
</script>