@charset "UTF-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}

html {
	width: 750px;
	margin: 0 auto;
	background: #000
}

.main {
	width: 750px;
	height: 1250px;
	background: url(../img/back.png);
	background-size: 100%;
	position: absolute;
	overflow: hidden;
}

.topimg {
	height: 560px;
	width: 750px;
	position: absolute;
	top: 0
}

.needimg {
	height: 840px;
	width: 750px;
	position: absolute;
	top: 190px;
	z-index: 10
}

.midimg {
	height: 840px;
	width: 750px;
	position: absolute;
	top: 420px;
}

.gamebottom {
	height: 840px;
	width: 750px;
	position: absolute;
	top: 845px;
	z-index: 9
}

.tel {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10
}

.text {
	position: absolute;
	top: 937px;
	width: 550px;
	left: 100px;
	text-align: center;;
	z-index: 10
}

.bottime1, .bottime2 {
	width: 420px;
    height: 75px;
    background: url(../img/button.png);
    background-size: 420px 100px;
    position: absolute;
    top: 920px;
    text-align: center;
    padding-top: 25px;
    z-index: 10;
}

.bottime1 {
	left: 30px
}

.bottime2 {
	margin-left: 50%;
    left: -210px;
}

.time0 {
	position: absolute;
	color: #fff;
	font-size: 55px;
	font-weight: 900;
	top: 200px;
	left: 144px;
	transform: rotate(-8deg);
}

.time1, .time2 {
	position: absolute;
    color: #fff;
    font-size: 42px;
    top: 0px;
    left: 203px;
    width: 60px;
    text-align: center;
    font-weight: 900;
    line-height: 100px;
}

.youhui {
	position: absolute;
	top: 1060px;
	left: 60px;
	z-index: 12
}

.bb {
	position: absolute;
	bottom: 62px;
	left: 45px;
	width: 280px;
	height: 85px;
	margin: auto;
	color: #fff;
	overflow: hidden;
	z-index: 11
}

.bbtop {
	position: absolute;
	top: 0;
	right: -50px;
	width: 770px;
	height: 30px;
}

.bbtop .p1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 385px;
	height: 30px;
	background: url(../img/guangtiao.png) no-repeat;
	background-size: 80px;
	transform: rotate(180deg)
}

.bbtop .p2 {
	position: absolute;
	top: 0;
	right: 385px;
	width: 385px;
	height: 30px;
	background: url(../img/guangtiao.png) no-repeat;
	background-size: 80px;
	transform: rotate(180deg)
}

.bbbottom {
	position: absolute;
	bottom: 0;
	left: -50px;
	width: 770px;
	height: 30px;
}

.bbbottom .p1 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 385px;
	height: 30px;
	background: url(../img/guangtiao.png) no-repeat;
	background-size: 80px;
}

.bbbottom .p2 {
	position: absolute;
	bottom: 0;
	left: 385px;
	width: 385px;
	height: 30px;
	background: url(../img/guangtiao.png) no-repeat;
	background-size: 80px;
}

.timeless {
	color: #fff;
	position: absolute;
	top: 1035px;
	width: 750px;
	text-align: center;
	z-index: 20;
	font-size: 28px;
}

.ext_text {
	color: #fff;
	position: absolute;
	top: 1115px;
	width: 750px;
	text-align: center;
	z-index: 20;
	font-size: 28px;
}

.paydone {
	display: none;
	width: 750px;
	height: 1500px;
	position: fixed;
	background: url(../img/back2.png);
	background-size: 750px;
	z-index: 60
}