* {
    padding: 0;
    margin: 0
}

body {
    width: 750px;
}

.main {
    width: 750px;
    height: 1667px;
    background: url(../img/ditu.png) no-repeat;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0
}

.paysub {
    position: absolute;
    width: 500px;
    height: 135px;
    top: 900px;
    left: 125px;
}

.pay {
    position: absolute;
    left: 370px;
    top: 1115px;
    width: 100px;
    height: 80px;
    color: #ffff00;
    text-align: center;
    line-height: 80px;
    font-size: 80px;
    text-shadow: 5px 2px 2px #333333;
}

.paytime {
    position: absolute;
    left: 325px;
    top: 1230px;
    width: 100px;
    height: 80px;
    color: #ffff00;
    text-align: center;
    line-height: 80px;
    font-size: 60px;
    text-shadow: 5px 2px 2px #333333;
}

.teleft {
    position: fixed;
    bottom: 20px;
    left: 150px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #fff;
}

.teright {
    position: fixed;
    bottom: 20px;
    right: 150px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #fff;
}

.paydone {
    position: absolute;
    display: none;
    width: 750px;
    height: 1667px;
    bottom: 0;
    left: 0;
    background: url(../img/end.png) no-repeat;
}