*{padding:0; margin:0;}
html{width:750px;margin:0 auto}
.text{padding:0 30px;}
.tp1{font:25px/40px Microsoft Yahei;font-weight:bold;margin-top:20px;}
.tp2{font:20px/30px Microsoft Yahei;margin-top:10px;}
.pic{margin:30px;border:solid 2px #707070;border-radius:46px;width:686px;}
.pic img{width:670px;border-radius:40px;margin:8px;}
.pic2{margin:15px;border:solid 1px #707070;border-radius:23px;width:343px;height:343px;float:left}
.pic2 img{width:335px;border-radius:20px;margin:4px;}
.mask{position: fixed;top:0;left:0;bottom:0;right:0;background-color:rgba(0,0,0,1);display: none;z-index: 1}
.mask .content{position: absolute;left:50%;top:25%;margin-left:-375px;z-index: 100}
.mask .content img{width:750px;}