* {
    padding: 0;
    margin: 0
}

body {
    width: 750px;
}

.main {
    width: 750px;
    height: 1667px;
    background: url(../img/ditu.png) no-repeat;
    overflow: hidden;
    position: fixed;
    top: -80px;
    left: 0
}

@media screen and (max-height:1300px) {
    .main {
        width: 750px;
        height: 1667px;
        background: url(../img/ditu.png) no-repeat;
        overflow: hidden;
        position: fixed;
        top: -175px;
        left: 0
    }
}

.paysub {
    position: absolute;
    width: 300px;
    height: 135px;
    top: 990px;
    left: 225px;
}

#numberInput {
    position: absolute;
    top: 710px;
    left: 165px;
    width: 420px;
    height: 115px;
    text-align: center;
    background: none;
    border: none;
    color: #fff;
    font-size: 60px;
    line-height: 115px;
    outline: none;
}

.paydone {
    position: absolute;
    display: none;
    width: 750px;
    height: 1667px;
    bottom: 0;
    left: 0;
    background: url(../img/end.png) no-repeat;
}