<div id="main">
    <div class="titleline">用户管理</div>
    <transition name="el-zoom-in-top">
        <el-card class="box-card" v-show="ready">
            <!-- 查询栏 -->
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="用户名称" size="mini">
                    <el-input  v-model="formInline.nickname" placeholder="用户名称"></el-input>
                </el-form-item>
                <el-form-item label="用户状态" size="mini">
                    <el-select v-model="formInline.status" placeholder="用户状态">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="可用" value="1"></el-option>
                        <el-option label="禁用" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item size="mini">
                    <el-button type="primary" @click="doQuery" plain>查询</el-button>
                </el-form-item>
            </el-form>

            <!-- 按钮栏 -->
            <el-row>
                <el-button size="mini" type="primary" @click="openAdd">添加</el-button>
            </el-row>

            <!-- 表格栏 -->
            <el-table :data="tableData.list" size="mini" style="margin-top:20px" max-height="300" stripe header-cell-class-name="tableheader">
                <el-table-column prop="id" label="用户编号"></el-table-column>
                <el-table-column prop="nickname" label="用户名称"></el-table-column>
                <el-table-column prop="roleName" label="用户角色"></el-table-column>
                <el-table-column prop="status" label="用户状态" :formatter="checkStatus"></el-table-column>
                <el-table-column prop="createdName" label="创建用户"></el-table-column>
                <el-table-column prop="createdAt" label="创建时间"></el-table-column>
                <el-table-column prop="updatedName" label="更新用户"></el-table-column>
                <el-table-column prop="updatedAt" label="更新时间"></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button @click="openEdit(scope.row)" type="text" size="mini">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 翻页 -->
            <el-pagination small background hide-on-single-page style="margin-top: 10;" @current-change="handleCurrentChange" layout="prev, pager, next, jumper, ->, total" :page-size="formInline.pageSize" :total="tableData.totalCount"></el-pagination>
        </el-card>
    </transition>
    <!-- 详情弹出框（新增/修改） -->
    <el-drawer :title="infoData.row.edit?'用户修改':'用户新增'" :visible.sync="drawer" ref="drawer" :before-close="handleClose">
        <el-form ref="form" :model="infoData.row" :rules="infoData.rules" label-width="80px" style="margin:20">
            <el-form-item label="用户名称" prop="nickname">
                <el-input placeholder="请输入用户名称" v-model="infoData.row.nickname"></el-input>
            </el-form-item>
            <el-form-item label="登陆账户" prop="username">
                <el-input placeholder="请输入登陆用户名" v-model="infoData.row.username"></el-input>
            </el-form-item>
            <el-form-item label="密码"  :prop="infoData.row.edit?'':'password'">
                <el-input :placeholder="infoData.row.edit?'不修改密码请留空':'请输入密码'" v-model="infoData.row.password"></el-input>
            </el-form-item>
            <el-form-item label="角色" prop="role">
                <el-select v-model="infoData.row.role">
                    <el-option label="系统总管理员" value="001"></el-option>
                    <el-option label="后台技术人员" value="002"></el-option>
                    <el-option label="前端技术人员" value="003"></el-option>
                    <el-option label="平台运营人员" value="004"></el-option>
                    <el-option label="资源审核人员" value="005"></el-option>
                    <el-option label="平台测试人员" value="006"></el-option>
                    <el-option label="游客" value="009"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="状态">
                <el-select v-model="infoData.row.status">
                    <el-option label="可用" value="1"></el-option>
                    <el-option label="禁用" value="0"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">保存</el-button>
            </el-form-item>
        </el-form>
    </el-drawer>

</div>
<style>
    .el-table {
        max-height: calc(100% - 200px) !important;
    }
    .el-table__body-wrapper {
        max-height: calc(100% - 236px) !important;
    }
</style>
<script src="main/system/system/user/user.js"></script>