body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.none {
    display: none;
}

.footer {
    position: fixed;
    bottom: 45px;
    z-index: 100;

    width: 100%;
    text-align: center;
}
#scanLine {
    position: absolute;
    z-index: 10;
    margin-top: 20vh;
    text-align: center;
    animation: scan 3s infinite linear;
    -webkit-animation: scan 3s infinite linear;
}

#scanLine > img {
    width: 80%;
}

@keyframes scan {
    0% {
        margin-top: 20vh;
    }
    100% {
        margin-top: 80vh;
    }
}
